body {
    margin: 1em;
    font: 1.2rem/1.4 Georgia, serif;
}
.quote {
    margin: 10px auto;
    width: 500px;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
}
.quote figcaption,
.quote blockquote {
    margin: 1em;
}